*.cmi
*.cmo
*.cmx
*.cmt
*.cmti
*.mlpack.d
*.o
*.ml4.d
*.cmxs
*.coq.bak
*.aux
*.glob
*.v.d
*.vo
*~
*.d
*.cmxa
*.a
plugin/Makefile.coq.conf
plugin/Makefile.coq
plugin/Makefile.conf
plugin/Makefile
plugin/.merlin
*.out
_opam
*.vok
*.vos
